<nav class="navbar" [class.scrolled]="isScrolled">
  <div class="logo">
    <!-- <img src="assets/logo.png" alt="Desklog.io"> -->
    <span class="logo-text">TimeTrack</span>
  </div>

  <ul class="nav-links">
    <li class="nav-item" (click)="scrollTo('features')">Features</li>
    <li class="nav-item" (click)="scrollTo('about')">About</li>
    <li class="nav-item" (click)="scrollTo('contact')">Contact</li>
  
</ul>
  

  <div class="nav-actions">
    <button class="btn-login">Login</button>
    <button class="btn-start">Start Free <span class="arrow">›</span></button>
  </div>
</nav>